{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>soon™</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://code.s3.yandex.net/web-code/adaptive.css">

  </head>

  <body>
    <div class="header">
      <div>
        <a href="{% url 'core:index_yandex' %}" class="button">Кто-нибудь когда-нибудь напишет фронтенд</a>
      </div>
    </div>

    <img height="300" width="300" src="https://static10.tgstat.ru/channels/_0/17/1748e05de22390bb4f1b92b8ea950523.jpg">
    <p></p>

    <div>
      <p class="form-control col col-lg-12 text-center out"></p>
    </div>

    <p class="footer">© 2022 N</p>

    <script src="{% static 'script/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  </body>
</html>
